# Go binaries
geforcenow-presence
GeForce-NOW-Rich-Presence

# Logs
*.log

# Config
config/config_path.txt
.env

# IDE
.idea/

# Build and Release
release/
build/nfpm
build/package/geforcenow-presence
build/package/geforcenow-presence.service.tmp
!build/package/geforcenow-presence.desktop
!build/package/geforcenow-presence.service
!build/package/*.sh
